:root { font-size: 16px }
@media (max-width: 500px) { :root { font-size: 14px } }
@font-face {
  font-family: 'Chaviera';
  src: url('chavieraregular-d9pwz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #2a00ff;
  color: white;
}
.title-header{
  font-family: "Chaviera", sans-serif;
  text-align: center;
}
body {
  overflow: hidden;
  font-family: "Cabin Condensed", sans-serif;
}

h1 { font-size: 5rem }
h2 { font-size: 2rem }

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  /* Allow shrinking if necessary */
  flex-shrink: 1;
  width: clamp(300px, 60vw, 800px);
  padding-right: 1rem;
}


header {height: 100vh}
footer {
  font-size: larger;
  font-weight: bold;
  float: left;
  height: 50vh;
}

:any-link { color: #2a00ff; }

.df {display: flex}
.aic {align-items: center}
.jcc {justify-content: center}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
}

.demo-wrapper {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}
.demo-text .text {
  padding-bottom: 20px;
  font-size: clamp(3rem, 7vw, 7rem); /* Adjust the minimum and maximum values as needed */
  font-family: "Chaviera", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  white-space: nowrap; /* Ensures text stays in a single line */
  /* Remove any overflow properties if you had them */
}


@media only screen and (max-width: 600px) { /* This is just an example breakpoint */
  .demo-text .text {
    font-size: smaller; /* Adjust the font size for smaller screens */
  }
}


/* Countdown */

#timer {
  font-family: "Cabin Condensed", sans-serif;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 1px #000000;
}
#timer div {
  display: inline-block;
  min-width: 90px;
}
#timer div span {
  color: #000000;
  display: block;
  font-size: 0.35em;
  font-weight: 400;
}

/* NEWSLETTER */
/* Remove default button appearance */
.submit-btn {
  background: none;
  border: none;
  box-shadow: none;
  color: #000; /* Set the text color to black or as needed */
  font-family: "Cabin Condensed", sans-serif;
  font-size: 1rem; /* Set the size as needed */
  font-weight: bold; /* If the text is bold */
  text-transform: uppercase; /* If the text is uppercase */
  padding: 10px 20px; /* Adjust padding to match the first image */
  cursor: pointer; /* To indicate the button is clickable */
  outline: none; /* To remove the default focus outline */
}

/* Add custom styles for active state */
.submit-btn:active {
  background: #e0e0e0; /* Example active background color */
  /* Other active styles as needed */
}

/* NAVIGATION AND UL LI *//* Side navigation styles */
.side-navigation {
  position: fixed;
  bottom: 0;
  z-index: 10;
  /* Set a max-height if needed or padding to the parent element */
}


.side-navigation ul {
  list-style-type: none;
  padding: 0;
}

.side-navigation ul li a {
  padding-top: 0 !important;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black; /* Or the color you prefer */
}

/* Bubbles text images */

.images-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-container {
  flex: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.left-image {
  padding: 1rem;
  text-align: left;
}

.right-image {
  padding: 1rem;
  text-align: right;
}

img {
background-color: #0000;
}

.image-text-container {
  position: relative;
  display: inline-block; /* or flex depending on your layout */
}

.image-text-container img {
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.text-overlay {
  font-family: "Chaviera", sans-serif!important;
  color: black; /* or any color you want for the text */
  font-size: 1rem; /* Adjust as needed */
  font-weight: bold; /* Adjust as needed */
}


/* COOKIES */
button{
  background-color: white!important;
}
 
.freeprivacypolicy.com--nb {
  font-family: 'Cabin Condensed';
}
.cc-nb-changep{
  display: none;
}